html, body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body
{
    background-image: url("../images/bo_play_pattern.png");
    font-family: 'Lemonada', cursive;
}

.bottomBorder
{
    border: 0;
    border-bottom: solid 2px black;
    width: 400px;
    background-color: transparent;
}

.myFooter
{
    position: relative;
    bottom: 0;
}

.basePageContainer
{
    min-height: 100%;
}

.bottomMargin
{
    margin-bottom: 40px;
}

.sponsorContainer
{
    margin: 0 auto;
    padding: 10px;
    background-image: url("../images/congruent_outline.png");
    width: 50%;
    min-height: 200px;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    font-size: 15px;
    text-align: center;
}

.tinyText {
    font-size: 8px;
}
.extraPadding
{
    margin-top: 30px;
    padding: 0;
}

.sponsorSpacing {
    margin-bottom: 10px;
}

.aboutContainer
{
    margin: 0;
    padding: 0;
    color: gold;
    border-radius: 5px;
}

.myContainer
{
    min-height: 100%;
    color: lightseagreen;
    text-shadow: 2px 2px 2px #000;
    padding: 10px;
    background-image: url("../images/wild_oliva.png");
}

.noMargins
{
    margin: 0;
}

.footerText
{
    color: black;
    font-size: 20px;
    background-color: rgba(200, 200, 200, 0.5);
}

.myTabs {
    text-shadow: 1px 1px 5px #555;
}

.error {
    color: darkred;
    font-size: 30px;
    margin-bottom: 20px;
}