html, body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body
{
}

.bottomBorder
{
    border: 0;
    border-bottom: solid 2px black;
    width: 400px;
}

.myFooter
{
    position: relative;
    bottom: 0;
}

.basePageContainer
{
    min-height: 100%;
}

.bottomMargin
{
    margin-bottom: 40px;
}

.sponsorContainer
{
    margin: 0 auto;
    width: 30%;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

.aboutContainer
{
    margin: 0;
    padding: 0;
    background-image: url("../images/congruent_outline.png");
    color: gold;
    height: 1000px;
    overflow: hidden;
    border-radius: 5px;
}

.myContainer
{

}

.noMargins
{
    margin: 0;
}

.footerText
{
    color: black;
    font-size: 20px;
    background-color: rgba(200, 200, 200, 0.5);
    width: 1140px;
}